@use "base/variables" as v;
@use "base/mixins" as m;

@include m.tablet {
	.contenedor-anuncios {
		@include m.grid(3, 2rem);
	}
}

.anuncio {
	background-color: lighten(v.$gris, 5);
	border: 1px solid lighten(v.$gris, 10);
	margin-bottom: 2rem;

	.contenido-anuncio {
		padding: 2rem;
	}
	h3,
	p {
		margin: 0;
	}
	.parrafo-relleno {
		// -webkit-box sirve para que el texto se rellene en todo el espacio disponible
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 3;
		overflow: hidden;
	}
	@include m.tablet {
		.imagen-relleno {
			// min-width: 100%;
			max-height: 18rem;
			object-fit: cover;
		}
	}
}

.precio {
	color: v.$verde;
	font-weight: v.$bold;
	font-size: 3rem;
}

.iconos-caracteristicas {
	display: flex;
	list-style: none;
	padding: 0;
	max-width: 40rem;
	li {
		// toma todo el espacio disponible
		// para medir lo mismo
		flex: 1;
		display: flex;
		img {
			flex: 0 0 5rem;
			margin-right: 1rem;
		}
		p {
			font-weight: v.$black;
		}
	}
}
